<div class="source-tooltip">
  <!--  <ion-icon-->
  <!--    class="close-source-tooltip-btn"-->
  <!--    name="close-circle"-->
  <!--    (click)="setVisibility(false)"-->
  <!--  ></ion-icon>-->

  <p *ngIf="metadata?.imageUrl">
    <a [href]="metadata.imageUrl" target="_blank">
      <img [src]="metadata.imageUrl" alt="Tooltip Image" />
    </a>
  </p>

  <p *ngIf="!source"><b>Source: </b>Unknown.</p>

  <p *ngIf="source" class="source-tooltip-url">
    <b>
      <ion-icon name="link"></ion-icon>
      Source:
    </b>
    <a target="_blank" [href]="source">{{ source }}</a>
  </p>

  <p *ngIf="metadata?.name">
    <b>
      <ion-icon name="document"></ion-icon>
      Name:
    </b>
    {{ metadata.name }}
  </p>

  <p *ngIf="metadata?.description">
    <b>
      <ion-icon name="list"></ion-icon>
      Description:
    </b>
    {{ metadata.description }}
  </p>

  <p *ngIf="metadata?.author">
    <b>
      <ion-icon name="person"></ion-icon>
      Author:
    </b>
    {{ metadata.author }}
  </p>
  <p *ngIf="metadata?.earliestDate">
    <b>
      <ion-icon name="calendar"></ion-icon>
      Earliest date:
    </b>
    {{ metadata.earliestDate.toDateString() }}
  </p>
  <p *ngIf="metadata?.latestDate">
    <b>
      <ion-icon name="calendar"></ion-icon>
      Latest date:
    </b>
    {{ metadata.latestDate.toDateString() }}
  </p>
  <p *ngIf="metadata?.date">
    <b>
      <ion-icon name="calendar"></ion-icon>
      Date:
    </b>
    {{ metadata.date.toDateString() }}
  </p>
</div>
