<div class="source-tooltip">
  <!--  <ion-icon-->
  <!--    class="close-source-tooltip-btn"-->
  <!--    name="close-circle"-->
  <!--    (click)="setVisibility(false)"-->
  <!--  ></ion-icon>-->

  <p *ngIf="imageUrl">
    <a [href]="imageUrl" target="_blank">
      <img [src]="imageUrl" alt="Tooltip Image" />
    </a>
  </p>

  <p *ngIf="!source && !author && !date"><b>Source: </b>Unknown.</p>

  <p *ngIf="source" class="source-tooltip-url">
    <b>
      <ion-icon name="link"></ion-icon>
      Source:
    </b>
    <a target="_blank" [href]="source">{{ source }}</a>
  </p>

  <p *ngIf="name">
    <b>
      <ion-icon name="document"></ion-icon>
      Name:
    </b>
    {{ name }}
  </p>

  <p *ngIf="description">
    <b>
      <ion-icon name="list"></ion-icon>
      Description:
    </b>
    {{ description }}
  </p>

  <p *ngIf="author">
    <b>
      <ion-icon name="person"></ion-icon>
      Author:
    </b>
    {{ author }}
  </p>
  <p *ngIf="earliestDate">
    <b>
      <ion-icon name="calendar"></ion-icon>
      Earliest date:
    </b>
    {{ earliestDate.toDateString() }}
  </p>
  <p *ngIf="latestDate">
    <b>
      <ion-icon name="calendar"></ion-icon>
      Latest date:
    </b>
    {{ latestDate.toDateString() }}
  </p>
  <p *ngIf="date">
    <b>
      <ion-icon name="calendar"></ion-icon>
      Date:
    </b>
    {{ date.toDateString() }}
  </p>
</div>
