.source-tooltip {
  background-color: rgba(255, 255, 255, 0.95);
  border-color: rgba(0, 0, 0, 0.2);
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  padding: 5px 10px;

  -webkit-box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.33);
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.33);

  text-align: left;

  p.source-tooltip-url {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.close-source-tooltip-btn {
  float: right;
  cursor: pointer;
  color: darkgrey;
  margin-left: 5px;

  &:hover {
    color: grey;
  }

  &:active {
    color: #404040;
  }
}
