#content-slider ion-card {
  max-width: 500px;

  img {
    margin: 0 auto;
    /* TODO: Max height for card image */
  }
}

// Position the story play button
.story-play-button {
  position: fixed;
  right: 16px;
  margin-top: 20px;
}

// Scale down small author logos
.author-logo-img {
  max-width: 40px;
}

// Align author selection button with the author chips
#author-select-btn {
  margin-bottom: 13px;
}
