<ion-header>
  <ion-toolbar>
    <ion-title>
      Story View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Story slides -->
    <ion-row>
      <ion-col>
        <ion-slides
          [options]="contentSliderOptions"
          (ionSlideDidChange)="slideChanged()"
          id="content-slider"
          #contentSlider
        >
          <!-- No stories found in this area -->
          <ion-slide *ngIf="stories.filtered.value.length == 0">
            <ion-card>
              <img
                alt="No stories found in this area"
                src="https://cdn.pixabay.com/photo/2017/03/07/13/02/question-mark-2123969_960_720.jpg"
              />
              <ion-card-header>
                <ion-card-title>No stories found in this area</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Please use the
                <a
                  target="_blank"
                  href="https://livingpasts.com/living-pasts-prototype/#map-view"
                  >Map View</a
                >
                to find new stories around you. Stories will be shown here when
                you get close enough to a marker.
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide *ngFor="let story of stories.filtered | async">
            <ion-card (click)="startStory(story)">
              <!-- Story types -->
              <div class="story-type-chip-container">
                <ion-chip
                  *ngIf="
                    stories
                      .getStorySequenceTypes(story)
                      .includes(SeqType.Article)
                  "
                  class="story-type-chip"
                >
                  <ion-icon name="paper"></ion-icon>
                  <ion-label>Article</ion-label>
                </ion-chip>
                <ion-chip
                  *ngIf="stories.storyContainsAudio(story)"
                  class="story-type-chip"
                >
                  <ion-icon name="volume-high"></ion-icon>
                  <ion-label>Voice-over</ion-label>
                </ion-chip>
                <ion-chip
                  *ngIf="
                    stories
                      .getStorySequenceTypes(story)
                      .includes(SeqType.Dialogue)
                  "
                  class="story-type-chip"
                >
                  <ion-icon name="logo-game-controller-b"></ion-icon>
                  <ion-label>Interactive Dialogue</ion-label>
                </ion-chip>
                <ion-chip
                  *ngIf="
                    stories
                      .getStorySequenceTypes(story)
                      .includes(SeqType.External)
                  "
                  class="story-type-chip"
                >
                  <ion-icon name="link"></ion-icon>
                  <ion-label>External Link</ion-label>
                </ion-chip>
              </div>

              <img
                src="{{ story['featured-image'] }}"
                alt="{{ story['title'] }}"
              />
              <ion-card-header>
                <ion-card-title>{{ story['title'] }}</ion-card-title>
                <ion-card-subtitle
                  >{{ story['time-period']['start'].getFullYear() }} -
                  {{
                    story['time-period']['end'].getFullYear()
                  }}</ion-card-subtitle
                >
              </ion-card-header>
              <ion-card-content>
                <div [utmTextWithSources]="story['description']"></div>

                <div class="story-authors ion-margin-top">
                  <small
                    class="story-author"
                    *ngFor="let storyAuthor of story.authors"
                  >
                    <img
                      [src]="
                        this.authors.getAuthorById(storyAuthor['@id']).logo
                      "
                      [alt]="
                        this.authors.getAuthorById(storyAuthor['@id']).name
                      "
                      class="story-author-logo-img"
                    />
                    <span>{{
                      this.authors.getAuthorById(storyAuthor['@id']).name
                    }}</span>
                  </small>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- Authors -->
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>Authors</ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <!-- Author selection -->
        <ion-select
          multiple
          [interfaceOptions]="authorSelectionOptions"
          placeholder="Select authors..."
          (ionChange)="onSelectedAuthorsChanged($event)"
          [hidden]="true"
          #authorSelect
        >
          <ion-select-option
            *ngFor="let author of authors.all | async"
            [value]="author['@id']"
            selected
          >
            {{ author['name'] }}
          </ion-select-option>
        </ion-select>

        <!-- Author icons -->
        <ion-chip
          *ngFor="let author of authors.selected | async"
          outline
          color="primary"
          id="{{ author['@id'] }}"
        >
          <ion-img
            [src]="author['logo']"
            class="author-logo-img ion-padding-end"
          ></ion-img>
          <ion-label>{{ author['name'] }}</ion-label>
        </ion-chip>

        <!-- Author selection -->
        <ion-button
          expand="block"
          (click)="openAuthorSelectionPopup()"
          class="ion-margin-top"
          id="author-select-btn"
        >
          Select authors
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Range selectors -->
    <ion-row>
      <!-- Time Range -->
      <ion-col>
        <ion-item-divider>
          <ion-label> Time Range</ion-label>
        </ion-item-divider>
        <ion-range
          id="time-range"
          dual-knobs
          pin
          min="{{ this.timePeriod.earliestDate.getFullYear() }}"
          max="{{ this.timePeriod.latestDate.getFullYear() }}"
          value="{{ this.timePeriod.latestDate.getFullYear() }}"
          steps="1"
          snaps
          color="dark"
          (ionChange)="onTimeRangeChanged($event)"
        >
          <ion-icon slot="start" size="small" name="time"></ion-icon>
          <ion-icon slot="end" name="time"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
