<ion-header>
  <ion-toolbar>
    <ion-title>
      Story View
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  
</ion-content> -->

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <!-- Story slides -->
    <ion-row>
      <ion-col>
        <ion-slides [options]="contentSliderOptions" id="content-slider">
          <ion-slide *ngFor="let story of stories.selected | async">
            <ion-card>
              <img
                src="{{ story['featured-image'] }}"
                alt="{{ story['title'] }}"
              />
              <ion-card-header>
                <ion-card-title>{{ story['title'] }}</ion-card-title>
                <ion-card-subtitle
                  >{{ story['time-period']['start'] }} -
                  {{ story['time-period']['end'] }}</ion-card-subtitle
                >
              </ion-card-header>
              <ion-card-content>
                {{ story['description'] }}
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- Authors -->
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label> Authors</ion-label>
        </ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <!-- Author selection -->
        <ion-select
          multiple
          [interfaceOptions]="authorSelectionOptions"
          placeholder="Select authors..."
          (ionChange)="selectedAuthorsChanged($event.target.value)"
          [hidden]="true"
          #authorSelect
        >
          <ion-select-option
            *ngFor="let author of authors.all | async"
            [value]="author['@id']"
            selected
          >
            {{ author['name'] }}
          </ion-select-option>
        </ion-select>

        <!-- Author icons -->
        <ion-chip
          *ngFor="let author of authors.selected | async"
          outline
          color="primary"
          id="{{ author['@id'] }}"
        >
          <ion-img
            [src]="author['logo']"
            class="author-logo-img ion-padding-end"
          ></ion-img>
          <ion-label>{{ author['name'] }}</ion-label>
        </ion-chip>

        <!-- Author selection -->
        <ion-button
          expand="block"
          (click)="openAuthorSelectionPopup()"
          class="ion-margin-top"
          id="author-select-btn"
        >
          Select authors
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Range selectors -->
    <ion-row>
      <!-- Time Range -->
      <ion-col size-Xs="12" sizeMd="6">
        <ion-item-divider>
          <ion-label> Time Range</ion-label>
        </ion-item-divider>
        <ion-range
          id="time-range"
          dual-knobs
          pin
          min="1900"
          max="2019"
          value="2019"
          steps="1"
          snaps
          color="dark"
        >
          <ion-icon slot="start" size="small" name="time"></ion-icon>
          <ion-icon slot="end" name="time"></ion-icon>
        </ion-range>
      </ion-col>

      <!-- Area Range -->
      <ion-col size-Xs="12" sizeMd="6">
        <ion-item-divider>
          <ion-label> Area</ion-label>
        </ion-item-divider>
        <ion-range
          id="area-range"
          pin
          min="0"
          max="100"
          value="50"
          color="secondary"
        >
          <ion-icon slot="start" size="small" name="locate"></ion-icon>
          <ion-icon slot="end" name="locate"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
