:host {
  --dialogue-scene-bg: var(--ion-color-light);
  --dialogue-scene-bg-contrast: var(--ion-color-light-contrast);
  --dialogue-scene-bg-image: '';
  --dialogue-scene-filter: '';

  #story-scene-wrapper {
    padding: 20px;
    max-width: 800px;
    position: relative;
    margin: auto;
    font-family: 'Playfair Displaya', serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--dialogue-scene-bg-contrast);
  }
  .button-text-wrap {
    white-space: normal !important;
    height: fit-content;
  }
  #bg {
    background-color: var(--dialogue-scene-bg);
    background-image: var(--dialogue-scene-bg-image);
    filter: var(--dialogue-scene-filter);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
  }

  .hasImage {
  }
}
