<ion-content>
  <div id="bg"></div>
  <div id="story-scene-wrapper" *ngIf="storyScene">
    <markdown [data]="storyScene.body"></markdown>
    <ion-button
      color="dark"
      *ngFor="let answer of storyScene.answers"
      (click)="next(answer.id)"
      class="button-text-wrap"
    >
      <markdown [data]="answer.label"></markdown>
    </ion-button>
    <div *ngIf="!storyScene?.answers.length">
      <ion-button color="dark" (click)="returnToStories()"
        >Return to Stories.</ion-button
      >
    </div>
  </div>
</ion-content>
