<ion-tabs>
  <!--  <ion-tab-bar slot="bottom">-->
  <!--    <ion-tab-button routerLink="/map">-->
  <!--      <ion-icon name="map"></ion-icon>-->
  <!--      <ion-label>Map</ion-label>-->
  <!--    </ion-tab-button>-->

  <!--    <ion-tab-button routerLink="/story">-->
  <!--      <ion-icon name="filing"></ion-icon>-->
  <!--      <ion-label>Stories</ion-label>-->
  <!--      <ion-badge>{{ (stories.filtered | async).length }}</ion-badge>-->
  <!--    </ion-tab-button>-->

  <!--    <ion-tab-button routerLink="/apis">-->
  <!--      <ion-icon name="link"></ion-icon>-->
  <!--      <ion-label>API Connections</ion-label>-->
  <!--    </ion-tab-button>-->
  <!--  </ion-tab-bar>-->
</ion-tabs>
