<div
  class="story-information"
  *ngIf="story"
  [ngStyle]="{
    height:
      mapInfoUI.getMapInfoElemHeight() - mapInfoUI.mapInfoNavBarHeight + 'px'
  }"
>
  <ion-grid>
    <ion-row *ngIf="!mapInfoUI.detailsShown">
      <ion-col class="ion-text-center">
        <utm-story-recommended-route
          [recommendedRouteId]="story.recommendedRouteId"
        ></utm-story-recommended-route>

        <h2>{{ story['title'] }}</h2>

        <p *ngIf="true || !platform.is('mobile')">
          <em
            [utmTextWithSources]="story['description']"
            class="ion-margin-top"
          ></em>
        </p>

        <ion-button
          fill="clear"
          size="small"
          class="ion-margin-end"
          (click)="mapInfoUI.toggleDetailsVisibility()"
        >
          Show Details...
        </ion-button>

        <ion-button color="primary" size="small" (click)="startStory(story)">
          <ion-icon name="play" class="ion-margin-end"></ion-icon>
          Read Story
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="mapInfoUI.detailsShown"
      class="story-information-details-row"
    >
      <ion-col size-xs="12" size-md="4">
        <ion-button
          fill="clear"
          color="primary"
          (click)="mapInfoUI.toggleDetailsVisibility()"
          class="hide-information-btn"
          *ngIf="platform.is('mobile')"
        >
          <ion-icon name="close"></ion-icon>
          Hide details
        </ion-button>

        <utm-story-header
          [story]="story"
          [centered]="true"
          *ngIf="platform.is('mobile')"
        >
        </utm-story-header>

        <ion-card
          class="story-featured-image-container"
          (click)="startStory(story)"
        >
          <utm-story-type-chips [story]="story"></utm-story-type-chips>
          <img
            class="story-featured-image"
            src="{{ story['featured-image'] }}"
            alt="{{ story['title'] }}"
          />
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-md="8">
        <ion-button
          fill="clear"
          color="primary"
          (click)="mapInfoUI.toggleDetailsVisibility()"
          class="hide-information-btn"
          *ngIf="!platform.is('mobile')"
        >
          <ion-icon name="close" class="ion-margin-end"></ion-icon>
          Hide details
        </ion-button>

        <utm-story-header
          [story]="story"
          *ngIf="!platform.is('mobile')"
        ></utm-story-header>

        <div
          [utmTextWithSources]="story['description']"
          class="ion-margin-top"
        ></div>

        <ion-button
          color="primary"
          size="small"
          class="ion-margin-top"
          (click)="startStory(story)"
        >
          <ion-icon name="play" class="ion-margin-end"></ion-icon>
          Read more
        </ion-button>
        <utm-story-tags [tagIds]="story.tagIds"></utm-story-tags>
        <utm-story-authors [authorIds]="story.authors"></utm-story-authors>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
