<div class="story-type-chip-container">
  <ion-chip
    *ngIf="stories.getStorySequenceTypes(story).includes(SeqType.Article)"
    class="story-type-chip"
  >
    <ion-icon name="paper"></ion-icon>
    <ion-label>Article</ion-label>
  </ion-chip>

  <ion-chip
    *ngIf="stories.getStorySequenceTypes(story).includes(SeqType.TimeSlider)"
    class="story-type-chip"
  >
    <ion-icon name="clock"></ion-icon>
    <ion-label>Time Slider</ion-label>
  </ion-chip>

  <ion-chip *ngIf="stories.storyContainsAudio(story)" class="story-type-chip">
    <ion-icon name="volume-high"></ion-icon>
    <ion-label>Voice-over</ion-label>
  </ion-chip>

  <ion-chip
    *ngIf="stories.getStorySequenceTypes(story).includes(SeqType.Dialogue)"
    class="story-type-chip"
  >
    <ion-icon name="logo-game-controller-b"></ion-icon>
    <ion-label>Interactive Dialogue</ion-label>
  </ion-chip>

  <ion-chip
    *ngIf="stories.getStorySequenceTypes(story).includes(SeqType.External)"
    class="story-type-chip"
  >
    <ion-icon name="link"></ion-icon>
    <ion-label>External Link</ion-label>
  </ion-chip>
</div>
