.route-information-panel {
  z-index: 2;
  background: #fff;

  position: absolute;
  padding: 0 15px;
  bottom: 0;
  width: 100%;

  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.1);
}

.route-information-content {
  max-height: 250px;
  overflow-y: scroll;
}

.route-information-panel ion-card {
  //max-width: 500px;

  img {
    margin: 0 auto;
    /* TODO: Max height for card image */
    max-height: 150px;
    object-fit: cover;
  }
}

// Position the story play button
.story-play-button {
  position: fixed;
  right: 16px;
  margin-top: 20px;
}

// Scale down small author logos
.author-logo-img {
  max-width: 40px;
}

// Align author selection button with the author chips
#author-select-btn {
  margin-bottom: 13px;
}

.story-author {
  white-space: nowrap; // Keep logo and text together
  margin-right: 10px;
}

.story-author-logo-img {
  display: inline-block;
  width: auto;
  height: 10px;
  margin-right: 3px !important;
}

.story-type-chip-container {
  position: absolute;
  top: 5px;
  left: 5px;

  .story-type-chip {
    background: white;

    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
  }
}
