<div class="route-information-panel">
  <div class="ion-text-center route-information-title">
    <h2>Kromme Nieuwegracht 3</h2>
    <p><em>Belle woonde hier als kind en als jonge vrouw</em></p>
  </div>

  <div class="route-information-content">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque
      doloribus error et excepturi fugit magnam quasi quos tempore, veritatis?
      Amet animi, earum enim facere fuga maiores quas qui reprehenderit!
    </div>
    <div>
      Ab adipisci, esse maiores nam nobis omnis placeat quam rerum voluptatem
      voluptatum! Aliquid animi, consectetur consequatur corporis dicta
      distinctio dolor dolorem esse est hic, neque omnis quae repellendus rerum
      saepe.
    </div>
    <div>
      Accusamus ducimus hic iste libero neque nobis placeat porro quibusdam
      voluptate voluptatum! Amet atque, consequuntur id magnam mollitia rerum
      similique. Consequatur dolor eum minus officia repudiandae! Animi
      asperiores delectus voluptatum?
    </div>
  </div>
</div>
