<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="map"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="article-scene-wrapper">
    <div class="restrict-width" #articleContent></div>
  </div>
</ion-content>

<ion-footer>
  <vg-player style="height: 50px;" *ngIf="this.seq && this.seq.audio">
    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <!--<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

      <vg-volume *ngIf="!device.isMobile()"></vg-volume>
      <vg-mute></vg-mute>

      <!--<vg-fullscreen></vg-fullscreen>-->
    </vg-controls>

    <audio #media [vgMedia]="media" id="myAudio" preload="auto">
      <source [src]="this.seq.audio" type="audio/mp3" />
    </audio>
  </vg-player>
</ion-footer>
