:host {
  #article-scene-wrapper {
    background-color: #f5f2d8;
    min-height: 100%;
    padding: 20px;
    position: relative;
    font-family: 'Playfair Displaya', serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    background-image: url('src/assets/img/subtle-patterns/paper_3.png');
    background-blend-mode: lighten;
    background-repeat: repeat;
  }
}
