<div
  class="route-information-panel"
  *ngIf="story"
  [ngStyle]="{ height: mapInfoUI.getMapInfoElemHeight() + 'px' }"
>
  <utm-story-information [story]="story"> </utm-story-information>

  <div
    class="route-information-navigation"
    [ngStyle]="{ height: mapInfoUI.mapInfoNavBarHeight + 'px' }"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="ion-text-center">
          <ion-button color="dark" fill="clear" (click)="onSelectFirstPage()">
            <ion-icon name="skip-backward"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="2" class="ion-text-center">
          <ion-button color="dark" fill="clear" (click)="onPrevPage()">
            <ion-icon name="rewind"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
          <strong>{{ this.routes.selected.getValue().properties.title }}</strong
          ><br />
          <small
            ><em
              >Page {{ this.routes.selectedStoryIdx.getValue() + 1 }} of
              {{ this.routes.getAmountStoriesSelectedRoute() }}</em
            ></small
          >
        </ion-col>

        <ion-col size="2" class="ion-text-center">
          <ion-button color="dark" fill="clear" (click)="onNextPage()">
            <ion-icon name="fastforward"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="2" class="ion-text-center">
          <ion-button color="dark" fill="clear" (click)="onSelectLastPage()">
            <ion-icon name="skip-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
